<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>In Template</h2>
      <p>{{title}}</p>
      <p>{{title2}}</p>
      <p>time={{time}}</p>
      <button v-on:click="time++" v-if="showButton">increase time</button>
      <button v-on:click="time--" v-if="showButton">decrease time</button>
      <div @click="title='somethingelse'">change{{title}}</div>
      <br />
      <div @click="changeTitle('passed as arg')">click to update</div>
      <button @click="toggleShowButton">
        <span v-if="showButton">Hide Button</span>
        <!-- <span v-if="!showButton">Show Button</span> -->
        <span v-else>Show Button</span></button
      ><br /><br />
      <div v-show="showButton">currently showing</div>
      <br /><br />
      <div v-show="!showButton">currently not showing</div>
      <div class="box" @mouseover="handleEvent">mouse over(enter)</div>
      <div class="box" @mouseleave="handleEvent">mouse leave</div>
      <div class="box" @dblclick="handleEvent">double click</div>
      <div class="box" @mousemove="handleMouseMove">position {{x}}-{{y}}</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
